*.log
.DS_Store
.env
.env.backup
.env.production
.env.docker
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

**/caddy
.serena
node_modules

# Docusaurus
docs/.docusaurus
docs/build
docs/node_modules
.editorconfig
.gitattributes

mcp/sorify-recorder-mcp/sorify-recorder-mcp
mcp/sorify-recorder-mcp/dist
.playwright-mcp
